<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
      <div style="float: left;">
        <header>
            <img src="/images/BeeTrip_Logo_sm.png">
        </header>
      </div>
        <div style="float: right;padding-left:48px;padding-top:48px;">
          <p>BeeTrip takes care of tracking expenses
          <br />
          so you can focus on what matters
        </div>
</section>
